# Rediriger vers index.php

<IfModule mod_rewrite.c>
  RewriteEngine on

  # Empêcher la visibilité du fichier config.php
  # RewriteCond %{THE_REQUEST} ^GET.*config [NC]
  # RewriteRule (.*?)config\.php/*(.*) /$1$2 [R=301,NE,L]

  # Empêcher la visite du dossier SRC de notre projet
  # RewriteCond %{THE_REQUEST} ^GET.*src [NC]
  # RewriteRule (.*?)src*(.*) / [R=301,NE,L]

  # Rediriger toutes les urls qui iraient ailleurs que dans le dossier public vers le dossier public :
  RewriteCond %{THE_REQUEST} !^GET./public [NC]
  RewriteRule ^(.*) /public/ [R=301,NE,L]
</IfModule>