<IfModule mod_rewrite.c>
# Si c'est le cas, l'allumer :
RewriteEngine On

# Exercice 1: Chercher à rediriger une connexion sur config.php vers index.php
# mot clés : rewriteCond, rewriteRule
# RewriteCond %{REQUEST_URI} config\.php [NC]
# RewriteRule ^config\.php$ /public/index.php [R=301,L]

# Exercice 2: Rediriger toute url qui contient src vers la racine du site, pour que index.php prenne la place.
# RewriteCond %{REQUEST_URI} src [NC]
# RewriteRule ^(.*)$ /public/index.php [R=301,L] 

# Exercice 3: Rediriger toutes les urls qui iraient ailleurs que dans le dossier public vers le dossier public :

RewriteCond %{THE_REQUEST} !/public [NC]
RewriteCond %{REQUEST_URI} !/public [NC]
RewriteRule ^(.*)$ /~kevin/SIMPLON/PHP/MVC_theophile/travail_dwwm8/public/$1 [R=301,L]

</IfModule>