<IfModule mod_rewrite.c>
  RewriteEngine on

  # Tout ce qui se termine par ".quelque chose" est testé directement dans le dossier /public. Si rien ne sort, ça passe en erreur 404.
  # Toutes les URLs du site sont sans ".quelque chose".

  RewriteCond %{REQUEST_URI} !\.(.*)$ [NC]
  RewriteRule   (.*)  /index.php

  ## Retour d'erreur :
  ErrorDocument 404 /page-introuvable
</IfModule>